// Alert
.alert{
    padding:10px;
    margin: 20px 0px;
    border: 1px solid transparent;
    border-radius: 4px;
    &.alert-information,
    &.alert-info{
        background-color: rgba(52, 211, 235, 0.2);
        border-color: rgba(52, 211, 235, 0.3);
        color: #35b8e0;
    }
    &.alert-success
    {
        background-color: rgba(95, 190, 170, 0.3);
        border-color: rgba(95, 190, 170, 0.4);
        color: #5fbeaa;
    }
    &.alert-danger,
    &.alert-error{
        background-color: rgba(240, 80, 80, 0.2);
        border-color: rgba(240, 80, 80, 0.3);
        color: #ff5b5b;
    }
}
.hidden{
    display: none;
}
// Default Button
.button{

}


/*
// Rating Review
*/
.traveler-rating-result-wrap,
.traveler-rating-review{
    br{
        display: none;
    }
    .rating-stars{

        a{
            &.active{
                .icon-star{
                    &:before{
                        content: "\f005";
                    }
                }
            }
        }
    }
}


.traveler-search-form{
    .item-search{
        margin-bottom: 10px;
    }
}
.traveler-container{
    padding: 20px;
    li.content-item{
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 10px;
    }
    ul{
        list-style: none;
        margin: 0px;
    }
}
.traveler-single-content {
    margin: 0px;
    .space-top-1 {
        margin-top: 10px;
    }
    .space-top-2 {
        margin-top: 20px;
    }
    .space-top-3 {
        margin-top: 30px;
    }
    .space-top-4 {
        margin-top: 40px;
    }
    .space-top-5 {
        margin-top: 50px;
    }
    .traveler_google_map {
        height: 500px;
    }
}

/// Submit Button Loading Icons
.submit-button{
    &.loading{
        &:after{
            -webkit-animation: fa-spin 1s infinite steps(8);
            animation: fa-spin 1s infinite steps(8);
            content: "\f110";
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }
}


// Cart Page
.traveler-cart-wrap
{
    .traveler-cart-table{
        tr{
            .small-col{
                width: 6%;
            }
        }
    }
}
.traveler-all-gateways{
    list-style: none;
    margin: 0px;
    padding:0px;

    .traveler-gateway-item
    {
        .gateway-desc{
            display: none;
        }
        &.active{
            .gateway-desc{
                display: block;
            }
        }
    }
}