.tab-padding {
  padding: 20px;
}
.input-error {
  border-color: red;
}
.mb20 {
  margin-bottom: 20px;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}
.alert {
  padding: 10px;
  margin: 20px 0px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert.alert-information,
.alert.alert-info {
  background-color: rgba(52, 211, 235, 0.2);
  border-color: rgba(52, 211, 235, 0.3);
  color: #35b8e0;
}
.alert.alert-success {
  background-color: rgba(95, 190, 170, 0.3);
  border-color: rgba(95, 190, 170, 0.4);
  color: #5fbeaa;
}
.alert.alert-danger,
.alert.alert-error {
  background-color: rgba(240, 80, 80, 0.2);
  border-color: rgba(240, 80, 80, 0.3);
  color: #ff5b5b;
}
.alert a {
  text-decoration: underline;
}
.hidden {
  display: none;
}
/*
// Rating Review
*/
.wpbooking-rating-result-wrap br,
.wpbooking-rating-review br {
  display: none;
}
.rating-stars a.active .icon-star:before {
  content: "\f005";
}
.wpbooking-archive-page .search-button-wrap {
  display: none;
}
.wpbooking-archive-page .wpbooking-search-form-wrap.show-more-active .search-button-wrap {
  display: block;
}
.wpbooking-search-form .item-search {
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #dce0e0;
}
.wpbooking-search-form .item-search > label {
  margin-bottom: 10px;
  font-weight: bold;
}
.wpbooking-search-form .item-search input,
.wpbooking-search-form .item-search select {
  border-radius: 3px;
  border: 1px solid rgba(51, 51, 51, 0.1);
}
.wpbooking-search-form .item-search input[text],
.wpbooking-search-form .item-search select {
  width: 100%;
}
.wpbooking-search-form .item-search .hidden_term {
  display: none;
}
.wpbooking-search-form .item-search .show-more-terms {
  cursor: pointer;
}
.wpbooking-search-form .wpbooking-search-form-more {
  display: none;
}
.wpbooking-loop-wrap.loading {
  position: relative;
}
.wpbooking-loop-wrap.loading:before {
  content: "";
  position: absolute;
  top: 0px;
  z-index: 2;
  left: 0px;
  right: 0px;
  bottom: 0px;
  opacity: 0.7;
  background: white;
}
.wpbooking-container {
  padding: 20px;
}
.wpbooking-container li.content-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}
.wpbooking-container ul {
  list-style: none;
  margin: 0px;
}
.wpbooking-container .info-item {
  font-size: 13px;
}
.wpbooking-single-content {
  margin: 0px;
  padding: 15px;
}
.wpbooking-single-content .single-thumbnai {
  margin-bottom: 10px;
}
.wpbooking-single-content .space-top-1 {
  margin-top: 10px;
}
.wpbooking-single-content .space-top-2 {
  margin-top: 20px;
}
.wpbooking-single-content .space-top-3 {
  margin-top: 30px;
}
.wpbooking-single-content .space-top-4 {
  margin-top: 40px;
}
.wpbooking-single-content .space-top-5 {
  margin-top: 50px;
}
.wpbooking-single-content .wpbooking_google_map {
  height: 500px;
}
.wpbooking-single-content .booking-item-features {
  list-style: none;
}
.submit-button.loading:after {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
  content: "\f110";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wpbooking-cart-wrap .wpbooking-cart-table tr .small-col {
  width: 6%;
}
.cart-item-order-form-fields {
  list-style: none;
  padding: 5px 0px;
  margin: 5px 0px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.wpbooking-all-gateways {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.wpbooking-all-gateways .wpbooking-gateway-item .gateway-desc {
  display: none;
}
.wpbooking-all-gateways .wpbooking-gateway-item.active .gateway-desc {
  display: block;
}
.widget_wpbooking_cart .wpbooking-cart-widget-content .cart-widget-items {
  padding-left: 20px;
}
.site-main.twentyfifteen {
  margin-left: 8.3333%;
  margin-right: 8.3333%;
  padding: 10%;
  margin-bottom: 7.6923%;
  margin-top: 8.3333%;
  background: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}
.wpbooking-price-chart {
  margin-bottom: -19px;
}
.wpbooking-price-chart .bar-item {
  display: inline-block;
  width: 3.33%;
  background: rgba(118, 118, 118, 0.5);
}
.irs .irs .irs-line {
  top: 13px;
}
.irs .irs .irs-from,
.irs .irs .irs-to,
.irs .irs .irs-single,
.irs .irs .irs-min,
.irs .irs .irs-max {
  bottom: 0px;
  top: auto;
}
.irs .irs-bar {
  top: 13px;
}
.irs .irs-slider {
  top: 4px;
}
.wpbooking-register-form .upload-certificate {
  display: none;
}
.wpbooking-register-form .upload-certificate .btn-file {
  overflow: hidden;
}
.wpbooking-register-form .upload-certificate .btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
.wpbooking-register-form .upload-certificate .upload_input {
  display: none;
}
.wpbooking-register-form .upload-certificate.active {
  display: block;
}
.wpbooking-register-form .upload-certificate .uploaded_image_preview {
  max-width: 200px;
}
.wpbooking-account-tab {
  padding: 10px;
}
.wpbooking-account-tab.services .wpbooking-account-services .wpbooking-account-service {
  padding: 10px 0px;
  border: 1px solid #eee;
  margin-bottom: 20px;
}
.wpbooking-account-tab.services .wpbooking-account-services .wpbooking-account-service .booking-item-title {
  margin-top: 0px;
  text-transform: none;
  text-decoration: none;
}
.wpbooking-account-tab.services .wpbooking-account-services .wpbooking-account-service .booking-item-title a {
  border-bottom: none;
  text-decoration: none;
}
.wpbooking-account-tab.services .wpbooking-account-services .wpbooking-service-table {
  width: 100%;
}
.wpbooking-account-tab.services .wpbooking-account-services .wpbooking-service-table .select-all {
  width: 40px;
  text-align: center;
}
.wpbooking-account-tab.services .wpbooking-account-services .wpbooking-service-table .select-all input {
  border: 1px solid #b4b9be;
  background: #fff;
  color: #555;
  clear: none;
  cursor: pointer;
  display: inline-block;
  line-height: 0;
  height: 16px;
  outline: 0;
  padding: 0!important;
  text-align: center;
  vertical-align: middle;
  width: 16px;
  min-width: 16px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.05s border-color ease-in-out;
  transition: 0.05s border-color ease-in-out;
}
.wpbooking-account-tab.services .wpbooking-account-services .wpbooking-service-table .service-image {
  width: 150px;
}
.wpbooking-account-tab.services .wpbooking-account-services .wpbooking-service-table .service-price,
.wpbooking-account-tab.services .wpbooking-account-services .wpbooking-service-table .service-status {
  width: 100px;
}
.wpbooking-account-tab .subsubsub {
  margin: 0px;
  padding: 0px;
  list-style: none;
  margin-bottom: 20px;
}
.wpbooking-account-tab .subsubsub li {
  display: inline;
  list-style: none;
}
.wpbooking-account-tab .subsubsub li a.current {
  text-decoration: none;
  border-bottom: 0px;
}
.wpbooking-account-tab .tab-page-title {
  font-size: 20px;
  margin: 0px;
  margin-bottom: 20px;
}
.wpbooking-account-tab .tablenav {
  font-size: 15px;
}
.wpbooking-account-tab .tablenav:before,
.wpbooking-account-tab .tablenav:after {
  display: table;
  content: " ";
}
.wpbooking-account-tab .tablenav:after {
  clear: both;
}
.wpbooking-account-tab .tablenav .alignleft {
  float: left;
}
.wpbooking-account-tab .tablenav .alignright {
  float: right;
}
.wpbooking-account-tab .tablenav .button {
  padding: 7px 15px;
}
.wpbooking-account-tab .tablenav select,
.wpbooking-account-tab .tablenav input[type=text] {
  font-size: 15px;
  line-height: 34px;
  height: 34px;
  margin-bottom: 10px;
}
.wpbooking-account-tab .wp-list-table {
  font-size: 15px;
}
.wpbooking-account-tab .wp-list-table .select-all {
  width: 40px;
}
.wpbooking-account-tab .wp-list-table .column-date {
  width: 70px;
}
.wpbooking-account-tab .wp-list-table .column-date-booking {
  width: 100px;
}
.wpbooking-account-tab .wp-list-table tr .row-actions {
  display: none;
}
.wpbooking-account-tab .wp-list-table tr:hover .row-actions {
  display: block;
}
.wpbooking-service-edit .form-row {
  margin-bottom: 30px;
}
.wpbooking-service-edit .form-row .form-title {
  margin-top: 0px;
  margin-bottom: 15px;
}
.wpbooking-service-edit #wp-service_content-editor-container {
  border: 1px solid #ddd;
}
.wpbooking-service-edit .wpbooking-service-metabox {
  font-size: 14px;
}
.wpbooking-service-edit .wpbooking-service-metabox:before,
.wpbooking-service-edit .wpbooking-service-metabox:after {
  display: table;
  content: " ";
}
.wpbooking-service-edit .wpbooking-service-metabox:after {
  clear: both;
}
.wpbooking-service-edit .wpbooking-service-metabox .col-tab-nav .nav-tabs {
  border-bottom: none;
}
.wpbooking-service-edit .wpbooking-service-metabox .col-tab-nav .nav-tabs a:hover {
  border-bottom: 1px solid #eeeeee;
}
.wpbooking-service-edit .wpbooking-service-metabox .col-tab-content .tab-content {
  padding: 10px;
  border: 1px solid #ddd;
}
.wpbooking-service-edit .wpbooking-service-metabox h4 {
  font-size: initial;
  margin: 0px;
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-accordion-title {
  font-size: initial;
  margin: 0px;
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-metabox-accordion {
  margin-bottom: 20px;
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-metabox-accordion .wpbooking-accordion-title {
  cursor: pointer;
  border: 1px solid #d3d3d3;
  background: #e6e6e6 ;
  padding: 7px 10px;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: bold;
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-metabox-accordion.active .wpbooking-accordion-title {
  background: white;
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-metabox-accordion.active .wpbooking-accordion-title i:before {
  content: "\f0ab";
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-metabox-accordion .wpbooking-metabox-accordion-content {
  display: none;
  margin-top: -1px;
  border: 1px solid #d3d3d3;
  padding: 10px 10px;
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-form-group {
  margin-bottom: 20px;
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-form-group:before,
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-form-group:after {
  display: table;
  content: " ";
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-form-group:after {
  clear: both;
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-form-group .st-metabox-left {
  font-weight: bold;
  width: 200px;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-form-group .st-metabox-right {
  padding-left: 15px;
  padding-right: 15px;
  width: auto;
  margin-left: 200px;
}
@media (max-width: 1399px) {
  .wpbooking-service-edit .wpbooking-service-metabox .wpbooking-form-group .st-metabox-left {
    width: 100%;
    float: none;
  }
  .wpbooking-service-edit .wpbooking-service-metabox .wpbooking-form-group .st-metabox-right {
    width: 100%;
    margin-left: auto;
    margin-top: 20px;
  }
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-select-loction {
  position: relative;
  z-index: 1;
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-select-loction input[name="search"] {
  width: 100% !important;
  display: block;
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-select-loction .list-location-wrapper {
  padding: 15px;
  margin-top: 5px;
  border: 1px solid #CCC;
  max-height: 300px;
  overflow-y: scroll;
}
.wpbooking-service-edit .wpbooking-service-metabox .gmap-container {
  position: relative;
}
.wpbooking-service-edit .wpbooking-service-metabox .gmap-container .gmap-content {
  border: 1px dashed #C0C0C0;
  width: 100%;
  min-height: 300px;
}
.wpbooking-service-edit .wpbooking-service-metabox .gmap-container .gmap-search {
  display: block;
  position: absolute;
  width: 185px;
  top: 10px;
  left: 100px;
  height: 35px;
  z-index: 9;
  border: 1px solid #CCC;
  font-size: 14px;
  background: white;
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-calendar-wrapper {
  margin-top: 20px;
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-calendar-wrapper button {
  font-size: 12px;
  padding: 7px 14px;
  height: auto;
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-calendar-wrapper .fc-button-group button:hover {
  background: #e6e6e6;
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-calendar-wrapper input[type=text] {
  border: 1px solid #CCC;
  font-size: 14px;
  background: white;
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-calendar-wrapper h2 {
  margin: 0px;
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-calendar-wrapper .wpbooking-calendar-content {
  padding-left: 15px;
  padding-right: 15px;
  z-index: 1;
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-calendar-wrapper .wpbooking-calendar-sidebar {
  padding-left: 15px;
  padding-right: 15px;
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-calendar-wrapper .wpbooking-calendar-sidebar .form-container {
  padding: 7px;
  border: 1px solid #CCC;
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-calendar-wrapper .wpbooking-calendar-sidebar .form-container .calendar-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 15px;
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-calendar-wrapper .wpbooking-calendar-sidebar .form-container .calendar-input {
  width: 100%;
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-calendar-wrapper .wpbooking-calendar-sidebar .form-container .calendar-room-form-item {
  margin-bottom: 20px;
  float: left;
  width: 50%;
  padding: 0px 7px;
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-calendar-wrapper .wpbooking-calendar-sidebar #form-bulk-edit {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.7) none repeat scroll 0% 0%;
  display: none;
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-calendar-wrapper .wpbooking-calendar-sidebar #form-bulk-edit .form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  background: #ffffff none repeat scroll 0% 0%;
  transform: translateX(-50%) translateY(-50%);
  border: 1px solid #242323;
  padding: 15px;
  max-width: 90%;
  width: 950px;
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-calendar-wrapper .wpbooking-calendar-sidebar #form-bulk-edit .form-container h4,
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-calendar-wrapper .wpbooking-calendar-sidebar #form-bulk-edit .form-container h3 {
  margin: 0;
  padding: 0;
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-calendar-wrapper .wpbooking-calendar-sidebar #form-bulk-edit .form-container .form-title {
  padding-bottom: 15px;
  border-bottom: 1px solid #CCC;
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-calendar-wrapper .wpbooking-calendar-sidebar #form-bulk-edit .form-container .form-footer {
  padding-top: 15px;
  border-top: 1px solid #CCC;
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-calendar-wrapper .wpbooking-calendar-sidebar #form-bulk-edit .form-container .form-content {
  padding-top: 15px;
  padding-bottom: 15px;
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-calendar-wrapper .wpbooking-calendar-sidebar #form-bulk-edit .form-container .form-content .form-group {
  width: auto !important;
  margin-left: 5px;
  margin-right: 5px;
  float: left;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #CCC;
  margin-bottom: 10px;
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-calendar-wrapper .wpbooking-calendar-sidebar #form-bulk-edit .form-container .form-content .form-group label {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-calendar-wrapper .wpbooking-calendar-sidebar #form-bulk-edit .form-container .form-content .form-group label.block {
  display: block;
  margin-bottom: 5px;
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-calendar-wrapper #form-bulk-edit {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.7) none repeat scroll 0% 0%;
  display: none;
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-calendar-wrapper #form-bulk-edit h3 {
  margin: 0px;
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-calendar-wrapper #form-bulk-edit .form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  background: #ffffff none repeat scroll 0% 0%;
  transform: translateX(-50%) translateY(-50%);
  border: 1px solid #242323;
  padding: 15px;
  max-width: 90%;
  width: 950px;
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-calendar-wrapper #form-bulk-edit .form-container h4,
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-calendar-wrapper #form-bulk-edit .form-container h3 {
  margin: 0;
  padding: 0;
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-calendar-wrapper #form-bulk-edit .form-container .form-title {
  padding-bottom: 15px;
  border-bottom: 1px solid #CCC;
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-calendar-wrapper #form-bulk-edit .form-container .form-footer {
  padding-top: 15px;
  border-top: 1px solid #CCC;
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-calendar-wrapper #form-bulk-edit .form-container .form-content {
  padding-top: 15px;
  padding-bottom: 15px;
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-calendar-wrapper #form-bulk-edit .form-container .form-content .form-group {
  width: auto !important;
  margin-left: 5px;
  margin-right: 5px;
  float: left;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #CCC;
  margin-bottom: 10px;
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-calendar-wrapper #form-bulk-edit .form-container .form-content .form-group label {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-calendar-wrapper #form-bulk-edit .form-container .form-content .form-group label.block {
  display: block;
  margin-bottom: 5px;
}
.inbox-wrap:before,
.inbox-wrap:after {
  display: table;
  content: " ";
}
.inbox-wrap:after {
  clear: both;
}
.inbox-wrap .inbox-user {
  width: 30%;
  float: left;
  border-right: 1px solid #ddd;
}
.inbox-wrap .inbox-user .inbox-user-item {
  padding: 5px;
  border-bottom: 1px solid #ddd;
}
.inbox-wrap .inbox-user .inbox-user-item:hover,
.inbox-wrap .inbox-user .inbox-user-item.active {
  background: #365899;
}
.inbox-wrap .inbox-user .inbox-user-item .avatar {
  float: left;
}
.inbox-wrap .inbox-user .inbox-user-item .avatar img {
  max-width: 50px;
  margin-right: 8px;
}
.inbox-wrap .inbox-user .inbox-user-item .info {
  display: table;
}
.inbox-wrap .inbox-user .inbox-user-item .info .user-displayname {
  margin: 0px;
  font-size: 15px;
}
.inbox-wrap .inbox-messages {
  width: 70%;
  float: left;
  padding: 10px;
}
.inbox-wrap .inbox-messages .send-messag-to {
  margin: 0px;
}
.inbox-wrap .inbox-messages .wb-send-message-form {
  margin: 20px 0px;
}
.inbox-wrap .inbox-messages .message {
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}
.inbox-wrap .inbox-messages .message .avatar {
  float: left;
}
.inbox-wrap .inbox-messages .message .avatar img {
  max-width: 50px;
  margin-right: 8px;
}
.inbox-wrap .inbox-messages .message .info {
  display: table;
}
.inbox-wrap .inbox-messages .message .info .user-displayname {
  margin: 0px;
  font-size: 15px;
}
