//Helper Class
.tab-padding{
    padding:20px;
}
.input-error{
    border-color: red;
}
.mb20{
    margin-bottom: 20px;
}
.clearfix{
    &:before,&:after{
        display: table;
        content: " ";
    }
    &:after{
        clear: both;
    }
}
// Alert
.alert{
    padding:10px;
    margin: 20px 0px;
    border: 1px solid transparent;
    border-radius: 4px;
    &.alert-information,
    &.alert-info{
        background-color: rgba(52, 211, 235, 0.2);
        border-color: rgba(52, 211, 235, 0.3);
        color: #35b8e0;
    }
    &.alert-success
    {
        background-color: rgba(95, 190, 170, 0.3);
        border-color: rgba(95, 190, 170, 0.4);
        color: #5fbeaa;
    }
    &.alert-danger,
    &.alert-error{
        background-color: rgba(240, 80, 80, 0.2);
        border-color: rgba(240, 80, 80, 0.3);
        color: #ff5b5b;
    }
    a{
        text-decoration: underline;
    }
}
.hidden{
    display: none;
}
// Default Button
.button{

}


/*
// Rating Review
*/
.wpbooking-rating-result-wrap,
.wpbooking-rating-review{
    br{
        display: none;
    }

}
.rating-stars{

    a{
        &.active{
            .icon-star{
                &:before{
                    content: "\f005";
                }
            }
        }
    }
}
// Hide Search Button in archive page
.wpbooking-archive-page{
    .search-button-wrap{
        display: none;
    }
    .wpbooking-search-form-wrap.show-more-active{
        .search-button-wrap{
            display: block;
        }
    }
}

.wpbooking-search-form{
    .item-search{
        >label{
            margin-bottom: 10px;
            font-weight: bold;

        }
        margin-bottom: 20px;
        padding-bottom: 15px;
        border-bottom: 1px solid #dce0e0;

        input,select{
            border-radius: 3px;
            border: 1px solid rgba(51, 51, 51, 0.1);
        }
        input[text],select{
            width: 100%;
        }
        .hidden_term{
            display: none;
        }
        .show-more-terms{
            cursor: pointer;
        }

    }

    .wpbooking-search-form-more{
        display: none;
    }
}
.wpbooking-loop-wrap{
    &.loading{
        position: relative;
        &:before{
            content: "";
            position: absolute;
            top:0px;
            z-index: 2;
            left:0px;
            right:0px;
            bottom:0px;
            opacity: 0.7;
            background: white;
        }
    }
}
.wpbooking-container{
    padding: 20px;
    li.content-item{
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 10px;
    }
    ul{
        list-style: none;
        margin: 0px;
    }
    .info-item{
        font-size: 13px;
    }
}
.wpbooking-single-content {
    margin: 0px;
    padding: 15px;
    .single-thumbnai{
        margin-bottom: 10px;
    }
    .space-top-1 {
        margin-top: 10px;
    }
    .space-top-2 {
        margin-top: 20px;
    }
    .space-top-3 {
        margin-top: 30px;
    }
    .space-top-4 {
        margin-top: 40px;
    }
    .space-top-5 {
        margin-top: 50px;
    }
    .wpbooking_google_map {
        height: 500px;
    }
    .booking-item-features{
        list-style: none;
    }
}

/// Submit Button Loading Icons
.submit-button{
    &.loading{
        &:after{
            -webkit-animation: fa-spin 1s infinite steps(8);
            animation: fa-spin 1s infinite steps(8);
            content: "\f110";
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
    }
}


// Cart Page
.wpbooking-cart-wrap
{
    .wpbooking-cart-table{
        tr{
            .small-col{
                width: 6%;
            }


        }
    }
}
.cart-item-order-form-fields{
    list-style: none;
    padding: 5px 0px;
    margin: 5px 0px;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
}
.wpbooking-all-gateways{
    list-style: none;
    margin: 0px;
    padding:0px;

    .wpbooking-gateway-item
    {
        .gateway-desc{
            display: none;
        }
        &.active{
            .gateway-desc{
                display: block;
            }
        }
    }
}


// Widget Minicart
.widget_wpbooking_cart{
    .wpbooking-cart-widget-content
    {
        .cart-widget-items{
            padding-left: 20px;
        }
    }
}

// Default Wrap CSS
.site-main
{
    &.twentyfifteen{
        margin-left: 8.3333%;
        margin-right: 8.3333%;
        padding: 10%;
        margin-bottom: 7.6923%;
        margin-top: 8.3333%;
        background: #fff;
        box-shadow: 0 0 1px rgba(0,0,0,.15);
    }
}

.wpbooking-price-chart{
    //padding: 0px 15px;
    margin-bottom: -19px;
    .bar-item{
        display: inline-block;
        width: 3.33%;
        background: rgba(118,118,118,0.5);
    }
}

// Ion-ranger slider
.irs{
    .irs{
        .irs-line{
            top:13px;
        }
        .irs-from, .irs-to, .irs-single,.irs-min, .irs-max{
            bottom:0px;
            top:auto;
        }
    }
    .irs-bar{
        top:13px;
    }
    .irs-slider{
        top:4px;
    }
}

// Register
.wpbooking-register-form{
    .upload-certificate{
        display: none;
        .btn-file{
            overflow: hidden;
            input[type=file] {
                position: absolute;
                top: 0;
                right: 0;
                min-width: 100%;
                min-height: 100%;
                font-size: 100px;
                text-align: right;
                filter: alpha(opacity=0);
                opacity: 0;
                outline: none;
                background: white;
                cursor: inherit;
                display: block;
            }
        }
        .upload_input{
            display: none;
        }
        &.active{
                display: block;
        }

        .uploaded_image_preview{
            max-width: 200px;
        }
    }
}
.wpbooking-account-tab
{
    padding:10px;
    &.services{
        .wpbooking-account-services{
            .wpbooking-account-service{
                padding:10px 0px;
                border:1px solid #eee;
                margin-bottom: 20px;

                .booking-item-title{
                    margin-top: 0px;
                    text-transform: none;
                    text-decoration: none;
                    a{
                        border-bottom:none;
                        text-decoration: none;
                    }
                }
            }
            .wpbooking-service-table{
                width: 100%;

                .select-all{
                    width: 40px;
                    text-align: center;
                    input{
                        border: 1px solid #b4b9be;
                        background: #fff;
                        color: #555;
                        clear: none;
                        cursor: pointer;
                        display: inline-block;
                        line-height: 0;
                        height: 16px;
                        outline: 0;
                        padding: 0!important;
                        text-align: center;
                        vertical-align: middle;
                        width: 16px;
                        min-width: 16px;
                        //-webkit-appearance: none;
                        -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
                        box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
                        -webkit-transition: .05s border-color ease-in-out;
                        transition: .05s border-color ease-in-out;
                    }
                }
                .service-image{
                    width: 150px;
                }
                .service-price,
                .service-status{
                    width: 100px;
                }
            }
        }
    }

    .subsubsub{
        margin:0px;
        padding:0px;
        list-style: none;
        margin-bottom: 20px;
        li {
            display: inline;
            list-style: none;
            a.current{
                text-decoration: none;
                border-bottom: 0px;
            }
          }
    }

    .tab-page-title{
        font-size: 20px;
        margin:0px;
        margin-bottom: 20px;
    }
    .tablenav{
        .clearfix;
        font-size: 15px;

        .alignleft{
            float: left;
        }
        .alignright{
            float: right;
        }
        .button{
            padding:7px 15px;
        }
        select,input[type=text]{
            font-size: 15px;
            line-height: 34px;
            height: 34px;
            margin-bottom: 10px;
        }

    }
    .wp-list-table{
        font-size: 15px;
        .select-all{
            width: 40px;
        }
        .column-date{
            width: 70px;
        }
        .column-date-booking{
            width: 100px;
        }
        tr{
            .row-actions{
                display: none;
            }
            &:hover{
                .row-actions{
                    display: block;
                }
            }
        }


    }
}
//@import "bootstrap.vertical-tabs";
.wpbooking-service-edit{
    .form-row{
        margin-bottom: 30px;
        .form-title{
            margin-top:0px;
            margin-bottom: 15px;
        }
    }
    #wp-service_content-editor-container{
        border:1px solid #ddd
    }

    .wpbooking-service-metabox{
        .clearfix;
        font-size: 14px;

        .col-tab-nav{
            //float: left;
            //width: 20%;
            .nav-tabs{
                border-bottom: none;
                a{
                    &:hover{
                        border-bottom: 1px solid #eeeeee;
                    }
                }
            }
        }
        .col-tab-content{
            //float: left;
            //width: 80%;
            .tab-content{
                padding:10px;
                border:1px solid #ddd
            }
        }

        h4{
            font-size: initial;
            margin:0px;
        }

        .wpbooking-accordion-title{
            font-size: initial;
            margin:0px;
        }

        .wpbooking-metabox-accordion{
            margin-bottom: 20px;
            .wpbooking-accordion-title{
                cursor: pointer;
                border:1px solid #d3d3d3;
                background: #e6e6e6 ;
                padding:7px 10px;
                margin-bottom: 0px;
                font-size: 14px;
                font-weight: bold;
            }

            &.active{
                .wpbooking-accordion-title{
                    background: white;

                    i{
                        &:before{
                            content:"\f0ab";
                        }
                    }
                }
            }
            .wpbooking-metabox-accordion-content{
                display: none;
                margin-top: -1px;
                border:1px solid #d3d3d3;
                padding:10px 10px;

            }
        }

        .wpbooking-form-group{
            .clearfix;
            margin-bottom: 20px;
            .st-metabox-left{
                font-weight: bold;
                width: 200px;
                float: left;
                padding-left: 15px;
                padding-right: 15px;
            }
            .st-metabox-right{
                padding-left: 15px;
                padding-right: 15px;
                width: auto;
                margin-left: 200px;
            }
            @media(max-width: 1399px){
                .st-metabox-left{
                    width: 100%;
                    float: none;
                }
                .st-metabox-right{
                    width: 100%;
                    margin-left: auto;
                    margin-top: 20px;
                }
            }
        }


        .wpbooking-select-loction{
            position: relative;
            z-index: 1;
            input[name="search"]{
                width: 100% !important;
                display: block;
            }
            .list-location-wrapper{
                padding: 15px;
                margin-top: 5px;
                border: 1px solid #CCC;
                max-height: 300px;
                overflow-y: scroll;
            }
        }
        .gmap-container{
            position:relative;
            .gmap-content {
                border: 1px dashed #C0C0C0;
                width: 100%;
                min-height: 300px;
            }
            .gmap-search {
                display: block;
                position: absolute;
                width: 185px;
                top: 10px;
                left: 100px;
                height: 35px;
                z-index: 9;
                border: 1px solid #CCC;
                font-size: 14px;
                background: white;
            }
        }

        .wpbooking-calendar-wrapper{

            margin-top: 20px;
            button{
                font-size: 12px;
                padding: 7px 14px;
                height: auto;
            }
            .fc-button-group{
                button{

                    &:hover{
                        background: #e6e6e6;
                    }
                }
            }

            input[type=text]{
                border: 1px solid #CCC;
                font-size: 14px;
                background: white;
            }
            h2{
                margin:0px;
            }
            .wpbooking-calendar-content{
                padding-left: 15px;
                padding-right: 15px;
                z-index: 1;

            }
            .wpbooking-calendar-sidebar{
                padding-left: 15px;
                padding-right: 15px;
                .form-container{
                    padding: 7px;
                    border: 1px solid #CCC;
                    .calendar-label{
                        display: block;
                        font-weight: bold;
                        margin-bottom: 5px;
                        font-size: 15px;
                    }
                    .calendar-input{
                        width: 100%;
                    }
                    .calendar-room-form-item{
                        .mb20;
                        float: left;
                        width: 50%;
                        padding: 0px 7px;
                    }
                }

                #form-bulk-edit{
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    z-index: 9999;
                    background: rgba(0, 0, 0, 0.7) none repeat scroll 0% 0%;
                    display: none;
                    .form-container{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        z-index: 1;
                        background: rgb(255, 255, 255) none repeat scroll 0% 0%;
                        transform: translateX(-50%) translateY(-50%);
                        border: 1px solid rgb(36, 35, 35);
                        padding: 15px;
                        max-width: 90%;
                        width: 950px;
                        h4,h3{
                            margin: 0;
                            padding: 0;
                        }
                        .form-title{
                            padding-bottom: 15px;
                            border-bottom: 1px solid #CCC;
                        }
                        .form-footer{
                            padding-top: 15px;
                            border-top: 1px solid #CCC;
                        }
                        .form-content{
                            padding-top: 15px;
                            padding-bottom: 15px;
                            .form-group{
                                width: auto !important;
                                margin-left: 5px;
                                margin-right: 5px;
                                float: left;
                                padding: 10px;
                                border-radius: 3px;
                                border: 1px solid #CCC;
                                margin-bottom: 10px;
                                label{
                                    display: inline-block;
                                    margin-right: 5px;
                                    margin-bottom: 5px;
                                    &.block{
                                        display: block;
                                        margin-bottom: 5px;
                                    }
                                }
                            }
                        }
                    }
                }

            }
            #form-bulk-edit{
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                z-index: 9999;
                background: rgba(0, 0, 0, 0.7) none repeat scroll 0% 0%;
                display: none;


                h3{
                    margin:0px;
                }

                .form-container{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    z-index: 1;
                    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
                    transform: translateX(-50%) translateY(-50%);
                    border: 1px solid rgb(36, 35, 35);
                    padding: 15px;
                    max-width: 90%;
                    width: 950px;
                    h4,h3{
                        margin: 0;
                        padding: 0;
                    }
                    .form-title{
                        padding-bottom: 15px;
                        border-bottom: 1px solid #CCC;
                    }
                    .form-footer{
                        padding-top: 15px;
                        border-top: 1px solid #CCC;
                    }
                    .form-content{
                        padding-top: 15px;
                        padding-bottom: 15px;
                        .form-group{
                            width: auto !important;
                            margin-left: 5px;
                            margin-right: 5px;
                            float: left;
                            padding: 10px;
                            border-radius: 3px;
                            border: 1px solid #CCC;
                            margin-bottom: 10px;
                            label{
                                display: inline-block;
                                margin-right: 5px;
                                margin-bottom: 5px;
                                &.block{
                                    display: block;
                                    margin-bottom: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// Inbox sections
.inbox-wrap{
    .clearfix;
    .inbox-user{
        width: 30%;
        float: left;
        border-right: 1px solid #ddd;
        .inbox-user-item{
            padding:5px;
            border-bottom: 1px solid #ddd;
            &:hover,
            &.active{
                background:#365899;
            }
            .avatar{
                float: left;
                img{
                    max-width: 50px;
                    margin-right: 8px;
                }
            }
            .info{
                display: table;
                .user-displayname{
                    margin:0px;
                    font-size: 15px;
                }
            }
        }
    }
    .inbox-messages{
        width: 70%;
        float: left;
        padding:10px;
        .send-messag-to{
            margin:0px;

        }
        .wb-send-message-form{
            margin:20px 0px;
        }

        .message{
            padding-bottom: 20px;
            border-bottom: 1px solid #ddd;
            margin-bottom: 20px;
            .avatar{
                float: left;
                img{
                    max-width: 50px;
                    margin-right: 8px;
                }
            }
            .info{
                display: table;
                .user-displayname{
                    margin:0px;
                    font-size: 15px;
                }
            }
        }
    }
}
.calendar-order-popover-information{
    list-style: none;
    margin:0px;
    padding:0px;
}