.tab-padding {
  padding: 20px;
}
.input-error {
  border-color: red;
}
.mb20 {
  margin-bottom: 20px;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}
.alert {
  padding: 10px;
  margin: 20px 0px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert.alert-information,
.alert.alert-info {
  background-color: rgba(52, 211, 235, 0.2);
  border-color: rgba(52, 211, 235, 0.3);
  color: #35b8e0;
}
.alert.alert-success {
  background-color: rgba(95, 190, 170, 0.3);
  border-color: rgba(95, 190, 170, 0.4);
  color: #5fbeaa;
}
.alert.alert-danger,
.alert.alert-error {
  background-color: rgba(240, 80, 80, 0.2);
  border-color: rgba(240, 80, 80, 0.3);
  color: #ff5b5b;
}
.alert a {
  text-decoration: underline;
}
.hidden {
  display: none;
}
/*
// Rating Review
*/
.wpbooking-rating-result-wrap br,
.wpbooking-rating-review br {
  display: none;
}
.rating-stars a.active .icon-star:before {
  content: "\f005";
}
.wpbooking-archive-page .search-button-wrap {
  display: none;
}
.wpbooking-archive-page .wpbooking-search-form-wrap.show-more-active .search-button-wrap {
  display: block;
}
.wpbooking-search-form .item-search {
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #dce0e0;
}
.wpbooking-search-form .item-search > label {
  margin-bottom: 10px;
  font-weight: bold;
}
.wpbooking-search-form .item-search input,
.wpbooking-search-form .item-search select {
  border-radius: 3px;
  border: 1px solid rgba(51, 51, 51, 0.1);
}
.wpbooking-search-form .item-search input[text],
.wpbooking-search-form .item-search select {
  width: 100%;
}
.wpbooking-search-form .item-search .hidden_term {
  display: none;
}
.wpbooking-search-form .item-search .show-more-terms {
  cursor: pointer;
}
.wpbooking-search-form .wpbooking-search-form-more {
  display: none;
}
.wpbooking-loop-wrap.loading {
  position: relative;
}
.wpbooking-loop-wrap.loading:before {
  content: "";
  position: absolute;
  top: 0px;
  z-index: 2;
  left: 0px;
  right: 0px;
  bottom: 0px;
  opacity: 0.7;
  background: white;
}
.wpbooking-container {
  padding: 20px;
}
.wpbooking-container li.content-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}
.wpbooking-container ul {
  list-style: none;
  margin: 0px;
}
.wpbooking-container .info-item {
  font-size: 13px;
}
.wpbooking-single-content {
  margin: 0px;
  padding: 15px;
}
.wpbooking-single-content .single-thumbnai {
  margin-bottom: 10px;
}
.wpbooking-single-content .space-top-1 {
  margin-top: 10px;
}
.wpbooking-single-content .space-top-2 {
  margin-top: 20px;
}
.wpbooking-single-content .space-top-3 {
  margin-top: 30px;
}
.wpbooking-single-content .space-top-4 {
  margin-top: 40px;
}
.wpbooking-single-content .space-top-5 {
  margin-top: 50px;
}
.wpbooking-single-content .wpbooking_google_map {
  height: 500px;
}
.wpbooking-single-content .booking-item-features {
  list-style: none;
}
.submit-button.loading:after {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
  content: "\f110";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wpbooking-cart-wrap .wpbooking-cart-table tr .small-col {
  width: 6%;
}
.cart-item-order-form-fields {
  list-style: none;
  padding: 5px 0px;
  margin: 5px 0px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.wpbooking-all-gateways {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.wpbooking-all-gateways .wpbooking-gateway-item .gateway-desc {
  display: none;
}
.wpbooking-all-gateways .wpbooking-gateway-item.active .gateway-desc {
  display: block;
}
.widget_wpbooking_cart .wpbooking-cart-widget-content .cart-widget-items {
  padding-left: 20px;
}
.site-main.twentyfifteen {
  margin-left: 8.3333%;
  margin-right: 8.3333%;
  padding: 10%;
  margin-bottom: 7.6923%;
  margin-top: 8.3333%;
  background: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}
.wpbooking-price-chart {
  margin-bottom: -19px;
}
.wpbooking-price-chart .bar-item {
  display: inline-block;
  width: 3.33%;
  background: rgba(118, 118, 118, 0.5);
}
.irs .irs .irs-line {
  top: 13px;
}
.irs .irs .irs-from,
.irs .irs .irs-to,
.irs .irs .irs-single,
.irs .irs .irs-min,
.irs .irs .irs-max {
  bottom: 0px;
  top: auto;
}
.irs .irs-bar {
  top: 13px;
}
.irs .irs-slider {
  top: 4px;
}
.wpbooking-register-form .upload-certificate {
  display: none;
}
.wpbooking-register-form .upload-certificate .btn-file {
  overflow: hidden;
}
.wpbooking-register-form .upload-certificate .btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
.wpbooking-register-form .upload-certificate .upload_input {
  display: none;
}
.wpbooking-register-form .upload-certificate.active {
  display: block;
}
.wpbooking-register-form .upload-certificate .uploaded_image_preview {
  max-width: 200px;
}
.wpbooking-account-tab {
  padding: 10px;
}
.wpbooking-account-tab.services .wpbooking-account-services .wpbooking-account-service {
  padding: 10px 0px;
  border: 1px solid #eee;
  margin-bottom: 20px;
}
.wpbooking-account-tab.services .wpbooking-account-services .wpbooking-account-service .booking-item-title {
  margin-top: 0px;
  text-transform: none;
  text-decoration: none;
}
.wpbooking-account-tab.services .wpbooking-account-services .wpbooking-account-service .booking-item-title a {
  border-bottom: none;
  text-decoration: none;
}
.wpbooking-account-tab.services .wpbooking-account-services .wpbooking-service-table {
  width: 100%;
}
.wpbooking-account-tab.services .wpbooking-account-services .wpbooking-service-table .select-all {
  width: 40px;
  text-align: center;
}
.wpbooking-account-tab.services .wpbooking-account-services .wpbooking-service-table .select-all input {
  border: 1px solid #b4b9be;
  background: #fff;
  color: #555;
  clear: none;
  cursor: pointer;
  display: inline-block;
  line-height: 0;
  height: 16px;
  outline: 0;
  padding: 0!important;
  text-align: center;
  vertical-align: middle;
  width: 16px;
  min-width: 16px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.05s border-color ease-in-out;
  transition: 0.05s border-color ease-in-out;
}
.wpbooking-account-tab.services .wpbooking-account-services .wpbooking-service-table .service-image {
  width: 150px;
}
.wpbooking-account-tab.services .wpbooking-account-services .wpbooking-service-table .service-price,
.wpbooking-account-tab.services .wpbooking-account-services .wpbooking-service-table .service-status {
  width: 100px;
}
/*!
 * bootstrap-vertical-tabs - v1.2.1
 * https://dbtek.github.io/bootstrap-vertical-tabs
 * 2014-11-07
 * Copyright (c) 2014 ?smail Demirbilek
 * License: MIT
 */
.tabs-left,
.tabs-right {
  border-bottom: none;
  padding-top: 2px;
}
.tabs-right {
  border-left: 1px solid #ddd;
}
.tabs-left > li,
.tabs-right > li {
  float: none;
  margin-bottom: 2px;
}
.tabs-left > li {
  margin-right: -1px;
}
.tabs-right > li {
  margin-left: -1px;
}
.tabs-left > li.active > a,
.tabs-left > li.active > a:hover,
.tabs-left > li.active > a:focus {
  border-bottom-color: #ddd;
  border-right-color: transparent;
}
.tabs-right > li.active > a,
.tabs-right > li.active > a:hover,
.tabs-right > li.active > a:focus {
  border-bottom: 1px solid #ddd;
  border-left-color: transparent;
}
.tabs-left > li > a {
  border-radius: 4px 0 0 4px;
  margin-right: 0;
  display: block;
}
.tabs-left > li > a:focus {
  outline: none;
}
.tabs-right > li > a {
  border-radius: 0 4px 4px 0;
  margin-right: 0;
}
.sideways {
  margin-top: 50px;
  border: none;
  position: relative;
}
.sideways > li {
  height: 20px;
  width: 120px;
  margin-bottom: 100px;
}
.sideways > li > a {
  border-bottom: 1px solid #ddd;
  border-right-color: transparent;
  text-align: center;
  border-radius: 4px 4px 0px 0px;
}
.sideways > li.active > a,
.sideways > li.active > a:hover,
.sideways > li.active > a:focus {
  border-bottom-color: transparent;
  border-right-color: #ddd;
  border-left-color: #ddd;
}
.sideways.tabs-left {
  left: -50px;
}
.sideways.tabs-right {
  right: -50px;
}
.sideways.tabs-right > li {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sideways.tabs-left > li {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.wpbooking-service-edit .form-row {
  margin-bottom: 30px;
}
.wpbooking-service-edit #wp-service_content-editor-container {
  border: 1px solid #ddd;
}
.wpbooking-service-edit .wpbooking-service-metabox {
  font-size: 14px;
}
.wpbooking-service-edit .wpbooking-service-metabox:before,
.wpbooking-service-edit .wpbooking-service-metabox:after {
  display: table;
  content: " ";
}
.wpbooking-service-edit .wpbooking-service-metabox:after {
  clear: both;
}
.wpbooking-service-edit .wpbooking-service-metabox .col-tab-nav {
  float: left;
  width: 20%;
}
.wpbooking-service-edit .wpbooking-service-metabox .col-tab-nav .nav-tabs a:hover {
  border-bottom: 1px solid #eeeeee;
}
.wpbooking-service-edit .wpbooking-service-metabox .col-tab-content {
  float: left;
  width: 80%;
}
.wpbooking-service-edit .wpbooking-service-metabox .col-tab-content .tab-content {
  padding: 10px;
  border: 1px solid #ddd;
}
.wpbooking-service-edit .wpbooking-service-metabox h4 {
  font-size: initial;
  margin: 0px;
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-accordion-title {
  font-size: initial;
  margin: 0px;
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-metabox-accordion {
  margin-bottom: 20px;
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-metabox-accordion .wpbooking-accordion-title {
  cursor: pointer;
  border: 1px solid #d3d3d3;
  background: #e6e6e6 ;
  padding: 7px 10px;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: bold;
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-metabox-accordion.active .wpbooking-accordion-title {
  background: white;
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-metabox-accordion.active .wpbooking-accordion-title i:before {
  content: "\f0ab";
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-metabox-accordion .wpbooking-metabox-accordion-content {
  display: none;
  margin-top: -1px;
  border: 1px solid #d3d3d3;
  padding: 10px 10px;
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-form-group {
  margin-bottom: 20px;
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-form-group:before,
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-form-group:after {
  display: table;
  content: " ";
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-form-group:after {
  clear: both;
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-form-group .st-metabox-left {
  font-weight: bold;
  width: 150px;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-form-group .st-metabox-right {
  padding-left: 15px;
  padding-right: 15px;
  width: auto;
  margin-left: 150px;
}
@media (max-width: 1399px) {
  .wpbooking-service-edit .wpbooking-service-metabox .wpbooking-form-group .st-metabox-left {
    width: 100%;
    float: none;
  }
  .wpbooking-service-edit .wpbooking-service-metabox .wpbooking-form-group .st-metabox-right {
    width: 100%;
    margin-left: auto;
    margin-top: 20px;
  }
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-select-loction {
  position: relative;
  z-index: 1;
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-select-loction input[name="search"] {
  width: 100% !important;
  display: block;
}
.wpbooking-service-edit .wpbooking-service-metabox .wpbooking-select-loction .list-location-wrapper {
  padding: 15px;
  margin-top: 5px;
  border: 1px solid #CCC;
  max-height: 300px;
  overflow-y: scroll;
}
.wpbooking-service-edit .wpbooking-service-metabox .gmap-container .gmap-content {
  border: 1px dashed #C0C0C0;
  width: 100%;
  min-height: 300px;
}
.wpbooking-service-edit .wpbooking-service-metabox .gmap-container .gmap-search {
  display: block;
  position: absolute;
  width: 200px;
  top: 10px;
  left: 100px;
  height: 31px;
  z-index: 9;
  border: 1px solid #CCC;
}
