.subsubsub {
    color: #666;
    font-size: 13px;
    list-style: outside none none;
    margin: 10px 0 5px;
    padding: 0;
}
.hidden{
    display: none;
}
i.traveler-desc{
    color: #aaa;
    display: block;
    padding-top: 3px;
}
ul.padding-0{
    margin: 0px;
}
ul.padding-0 li{
    margin: 0px;
}
.width-800{
    width: 800px;
}
.width-70{
    width: 70px;
}

.min-width-800{
    min-width: 800px;
}
.max-width-800{
    max-width: 800px;
}
.min-width-500{
    min-width: 500px;
}
.max-width-500{
    max-width: 500px;
}
.none{
    display: none;
}
img.settings-demo-image{
    max-height: 200px;
    max-width: 300px;
    background: white none repeat scroll 0 0;
    border: 1px solid #bbb;
    border-radius: 2px;
    margin: 0 10px 10px 0;
    padding: 4px;
}
img.settings-demo-gallery{
    height: 70px;
    width: 70px;

    background: white none repeat scroll 0 0;
    border: 1px solid #bbb;
    border-radius: 2px;

    margin: 0 10px 10px 0;
    padding: 4px;
}
.demo-url-image.min-width-500{
    min-width: 420px;
}
.traveler-settings .button-secondary {
    background: #b73b27 none repeat scroll 0 0;
    border-color: #7f291b;
    box-shadow: 0 1px 0 rgba(229, 134, 119, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    color: #fff;
    text-shadow: none;
}
.traveler-settings .button-secondary.hover, .traveler-settings .button-secondary:hover, .traveler-settings .button-secondary.focus, .traveler-settings .button-secondary:focus {
    background: #9b3221 none repeat scroll 0 0;
    border-color: #7f291b;
    box-shadow: 0 1px 0 rgba(229, 134, 119, 0.6) inset;
    color: #fff;
}
.traveler-setting-list-item{
    .list-content{
        background-color: #fff;
        position: relative;
        border: 1px solid #ccc;
        border-radius: 2px;
        overflow: hidden;
    }
    .list-title{
        padding: 10px;
        min-height: 18px;
    }
    .traveler-setting-setting-body {
        background: #fff none repeat scroll 0 0;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        border-top: 1px solid #eee;
        display: none;
        padding: 10px;
        .traveler-settings{
           /* margin-left: 20px;*/
        }
    }
    .content_list_item_hide
    {
        display: none;
    }
    .traveler-list-item-wrap{
        width: 800px;
        border: 1px solid #e5e5e5;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
        background: white;
        margin-bottom: 10px;

        .td{
            padding: 8px 4px;
            line-height: 1.4em;
            vertical-align: top;
            &.td-small{
                width: 80px;
            }
        }
        .td-left{
          width: 5%;
          .dashicons{
            padding-left: 6px;
            padding-top: 10px;
            cursor: pointer;
          }
        }
        th{
             .dashicons{
               padding-left: 6px;
               padding-top: 0px !important;
               cursor: default;
             }

         }

        .td-center{
          width: 85%;
        }
        .td-right{
          width: 80px;
          .button-section{
            padding-top: 5px;
          }
        }
        thead{
            .td{

                color: #32373c;
                text-align: left;
                vertical-align: top;
                font-weight: 600;
                border-bottom: 1px solid #e1e1e1;
            }
        }

        tbody{
            .td{
            }
          >tr{

            &:nth-child(odd){
              background: #EBEEF0;
            }
          };


        }
        .list-item{
            tbody{
                .td{
                }
                >tr{

                    &:nth-child(odd){
                        background: none;
                    }
                };


            }
        }
    }
}

.st-metabox-nav{
    width: 160px;
    li{
        float: left; display: inline-block;
        a{
            border: 1px solid transparent;
            text-decoration: none;
            padding: 12px 15px;
            opacity: .7;
            color: #5f5f5f;
            background-color: rgba(255, 255, 255, 0.35);
            transition: opacity, 0.3s;
            margin-bottom: 2px;
        }
        &.ui-tabs-active {
            a{
                border: 1px solid #CCC; border-right: 1px solid #FFF; border-radius: 3px 0 0 3px;
                font-weight: bold;
                background-color: #fff;
                opacity: 1;
            }
        }
    }

}
.st-metabox-tabs-content{
    width: auto !important; min-height: 200px; margin-left: 158px; float: none !important; border: 1px solid #ccc;
    .form-label{
        padding-bottom: 10px;
        font-weight: bold;
        font-size: 15px;
        border-bottom: none;
        margin-bottom: 10px;
    }
    .form-control{
        height: 30px;
        padding: 4px 8px;
        font-size: 14px;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 0px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
        -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        &[type=text],&[type=password],&[type=number]
        {
            width: 320px;
        }
        .form-label{
            padding-bottom: 10px;
            padding-top: 5px;
        }
        .form-group{
            .form-control{
                height: 30px;
                padding: 4px 8px;
                font-size: 14px;
                color: #555;
                background-color: #fff;
                background-image: none;
                border: 1px solid #ccc;
                border-radius: 0px;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
                -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
                transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;


                &[type=text],&[type=password],
                &[type=number],
                &select
                {
                    width: 320px;
                }
            }
        }
    }
    textarea.form-control{
        min-height: 300px !important;
    }

    .st-metabox-content-wrapper{
        .st-metabox-content-right{
            font-style: italic;
        }
    }
}
.postbox{
    .hndle>span{
        display: block;
        line-height: 24px;
        label{
            margin-left: 15px;
        }
    }
}
//.st-metabox-content-left{ width: 70%; float: left; padding-right: 15px;}
//.st-metabox-content-right{ margin-left: 70% }
//.ui-tabs-vertical { width: 100%; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}

.ui-tabs-vertical .ui-tabs-nav li a:focus{
    -webkit-box-shadow: none;
    box-shadow: none;
}
@media( max-width: 1023px){
    .st-metabox-nav .ui-tabs-active a{ border-color: #CCC !important;
    border-bottom: 1px solid #FFF !important;}
    .st-metabox-tabs-content{ margin-top: 2px; padding: 15px; width: auto !important; margin-left: 0; float: none !important; padding-top: 10px; padding-bottom: 10px;}
}
@media( max-width: 1023px){
    .st-metabox-content-left{ width: 100%; float: none; }
    .st-metabox-content-right{ width: 100%; margin: 10px 0; border-top: 1px dotted #CCC; padding-right: 0}
}
.st-metabox-tab-content-wrap {
    display: table;
    width: 100%;
}
.st-metabox-wrapper{
    position: relative;
    min-height: 100px;
    .overlay-content{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #FFF;
    }
    .spinner{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -10px;
        margin-top: -10px;
    }
}
.st-metabox-tab-content-wrap{
    *{
        box-sizing: border-box;
    }
    .form-table{
        margin-bottom: 20px;
        margin-left: -15px;
        margin-right: -15px;
        .st-metabox-left{
            font-weight: bold;
            width: 200px;
            float: left;
            padding-left: 15px;
            padding-right: 15px;
        }
        .st-metabox-right{
            padding-left: 15px;
            padding-right: 15px;
            width: auto;
            margin-left: 200px;
        }
    }
    .form-table:after,
    .form-table:before{
        content: " ";
        display: table;
    }
    .form-table:after{
        clear: both;
    }
}
.st-metabox-content-wrapper{
    
    padding-bottom: 20px;

    .gmap-container{
        position: relative;
        z-index: 1;
        .gmap-content{
            border: 1px dashed #C0C0C0;
            width: 100%;
            min-height: 300px;
        }
    }
    
}
input.gmap-search{
    display: block;
    position: absolute;
    width: 200px;
    top: 10px;
    left: 100px;
    height: 31px;
    z-index: 9;
    border: 1px solid #CCC;
}
.st-metabox-content-wrapper:after{
    display: table;
    content: " ";
    clear: both;
}
.form-build {

  content: " ";
  display: table;
  clear: both;
    td{
      padding: 0px;
    }
  .head-control-left{
    float: left;
    font-size: 18px;
    font-weight: bold;
    width: 60%;
  }
  .head-control-right{
    float: left;
    margin-left: 20px;
    width: 35%;
    padding-bottom: 10px;
  }

  .control-left{
    float: left;
    width: 60%;
    textarea{
      min-height: 200px;
      width: 100%;
    }
  }
  .control-right{
    background: #ddd none repeat scroll 0 0;
    margin-left: 20px;
    padding: 20px 5px 20px 15px;
    width: 35%;
    float: left;
  }
  .form-field{
    padding-bottom: 15px;
  }

}
.traveler-list-item-wrapper{
    
    .list-item-head{
        width: 100%;
        position: relative;
        clear: both;
        background: rgb(204, 204, 204) none repeat scroll 0% 0%;
        display: table-caption;
        padding: 5px;
        margin-bottom: -2px;
        min-height: 30px;
        .dashicons{
            float: left;
            margin-top: 6px;
        }
        .item-title{
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            line-height: 40px;
            padding-left: 35px;
            z-index: 8;
            font-weight: bold;
            color: #000;
        }
        .button-control{
            position: relative;
            z-index: 9;
            float: right;
            margin-top: 2px;
        }
    }
    .hidden{
        display: none !important;
    }
    .traveler-list-item{
        box-shadow: 0px 0px 0px 1px rgb(174, 170, 170);
        margin-bottom: 5px;
        .td-left{
            .title{
                width: 200px;
            }
        }
    }
    .traveler-add-item{
        margin-top: 20px;
    }
}
.traveler-calendar-wrapper{
    margin-top: 20px;
    .traveler-calendar-content{
        position: relative;
        width: 100%;
        float: left;
        padding-left: 15px;
        padding-right: 15px;
        z-index: 1;

    }
    .traveler-calendar-sidebar{
        width: 100%;
        float: left;
        padding-left: 15px;
        padding-right: 15px;
        .form-container{
            padding: 7px;
            border: 1px solid #CCC;
            .calendar-label{
                display: block;
                font-weight: bold;
                margin-bottom: 5px;
                font-size: 15px;
            }
            .calendar-input{
                width: 100%;
            }
        }

        #form-bulk-edit{
            position: fixed;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: rgba(0, 0, 0, 0.7) none repeat scroll 0% 0%;
            display: none;
            .form-container{
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 1;
                background: rgb(255, 255, 255) none repeat scroll 0% 0%;
                transform: translateX(-50%) translateY(-50%);
                border: 1px solid rgb(36, 35, 35);
                padding: 15px;
                max-width: 90%;
                width: 950px;
                h4,h3{
                    margin: 0;
                    padding: 0;
                }
                .form-title{
                    padding-bottom: 15px;
                    border-bottom: 1px solid #CCC;
                }
                .form-footer{
                    padding-top: 15px;
                    border-top: 1px solid #CCC;
                }
                .form-content{
                    padding-top: 15px;
                    padding-bottom: 15px;
                    .form-group{
                        margin-left: 5px;
                        margin-right: 5px;
                        float: left;
                        padding: 10px;
                        border-radius: 3px;
                        border: 1px solid #CCC;
                        margin-bottom: 10px;
                        label{
                            display: inline-block;
                            margin-right: 5px;
                            margin-bottom: 5px;
                            &.block{
                                display: block;
                                margin-bottom: 5px;
                            }
                        }
                    }
                }
            }
        }
        
    }
}
@media( max-width: 1040px ){
    #form-bulk-edit{
        .form-container{
            max-height: 480px;
            overflow-y: scroll;
        }
    }
}
.traveler-calendar-wrapper:after,
.traveler-calendar-wrapper:before{
    content: " ";
    display: table;
}
.traveler-calendar-wrapper:after{
    clear: both;
}
@media( min-width: 1400px){
    .traveler-calendar-wrapper{
        .traveler-calendar-content{
            width: 70%
        }
        .traveler-calendar-sidebar{
            width: 30%
        }

    }
}
.form-message{
    font-style: italic;
    &.error{
        color: #A81212;
    }
    &.success{
        color: #1E59DF;
    }
}
.clearfix:after,
.clearfix:before{
    content: " ";
    display: table;
}
.clearfix:after{
    clear: both;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background: rgba(255, 255, 255, 0.6);
    display: none;
    .spinner{
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -10px;
        margin-right: -10px;
        z-index: 10;
    }
    &.open{
        display: block !important;
    }
}