.subsubsub {
  color: #666;
  font-size: 13px;
  list-style: outside none none;
  margin: 10px 0 5px;
  padding: 0;
}
.hidden {
  display: none;
}
i.traveler-desc {
  color: #aaa;
  display: block;
  padding-top: 3px;
}
ul.padding-0 {
  margin: 0px;
}
ul.padding-0 li {
  margin: 0px;
}
.width-800 {
  width: 800px;
}
.width-70 {
  width: 70px;
}
.min-width-800 {
  min-width: 800px;
}
.max-width-800 {
  max-width: 800px;
}
.min-width-500 {
  min-width: 500px;
}
.max-width-500 {
  max-width: 500px;
}
.none {
  display: none;
}
img.settings-demo-image {
  max-height: 200px;
  max-width: 300px;
  background: white none repeat scroll 0 0;
  border: 1px solid #bbb;
  border-radius: 2px;
  margin: 0 10px 10px 0;
  padding: 4px;
}
img.settings-demo-gallery {
  height: 70px;
  width: 70px;
  background: white none repeat scroll 0 0;
  border: 1px solid #bbb;
  border-radius: 2px;
  margin: 0 10px 10px 0;
  padding: 4px;
}
.demo-url-image.min-width-500 {
  min-width: 420px;
}
.traveler-settings .button-secondary {
  background: #b73b27 none repeat scroll 0 0;
  border-color: #7f291b;
  box-shadow: 0 1px 0 rgba(229, 134, 119, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
  color: #fff;
  text-shadow: none;
}
.traveler-settings .button-secondary.hover,
.traveler-settings .button-secondary:hover,
.traveler-settings .button-secondary.focus,
.traveler-settings .button-secondary:focus {
  background: #9b3221 none repeat scroll 0 0;
  border-color: #7f291b;
  box-shadow: 0 1px 0 rgba(229, 134, 119, 0.6) inset;
  color: #fff;
}
.traveler-setting-list-item .list-content {
  background-color: #fff;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 2px;
  overflow: hidden;
}
.traveler-setting-list-item .list-title {
  padding: 10px;
  min-height: 18px;
}
.traveler-setting-list-item .traveler-setting-setting-body {
  background: #fff none repeat scroll 0 0;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top: 1px solid #eee;
  display: none;
  padding: 10px;
}
.traveler-setting-list-item .traveler-setting-setting-body .traveler-settings {
  /* margin-left: 20px;*/
}
.traveler-setting-list-item .content_list_item_hide {
  display: none;
}
.traveler-setting-list-item .traveler-list-item-wrap {
  width: 800px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  background: white;
  margin-bottom: 10px;
}
.traveler-setting-list-item .traveler-list-item-wrap .td {
  padding: 8px 4px;
  line-height: 1.4em;
  vertical-align: top;
}
.traveler-setting-list-item .traveler-list-item-wrap .td.td-small {
  width: 80px;
}
.traveler-setting-list-item .traveler-list-item-wrap .td-left {
  width: 5%;
}
.traveler-setting-list-item .traveler-list-item-wrap .td-left .dashicons {
  padding-left: 6px;
  padding-top: 10px;
  cursor: pointer;
}
.traveler-setting-list-item .traveler-list-item-wrap th .dashicons {
  padding-left: 6px;
  padding-top: 0px !important;
  cursor: default;
}
.traveler-setting-list-item .traveler-list-item-wrap .td-center {
  width: 85%;
}
.traveler-setting-list-item .traveler-list-item-wrap .td-right {
  width: 80px;
}
.traveler-setting-list-item .traveler-list-item-wrap .td-right .button-section {
  padding-top: 5px;
}
.traveler-setting-list-item .traveler-list-item-wrap thead .td {
  color: #32373c;
  text-align: left;
  vertical-align: top;
  font-weight: 600;
  border-bottom: 1px solid #e1e1e1;
}
.traveler-setting-list-item .traveler-list-item-wrap tbody > tr:nth-child(odd) {
  background: #EBEEF0;
}
.traveler-setting-list-item .traveler-list-item-wrap .list-item tbody > tr:nth-child(odd) {
  background: none;
}
.st-metabox-nav {
  width: 160px;
}
.st-metabox-nav li {
  float: left;
  display: inline-block;
}
.st-metabox-nav li a {
  border: 1px solid transparent;
  text-decoration: none;
  padding: 12px 15px;
  opacity: .7;
  color: #5f5f5f;
  background-color: rgba(255, 255, 255, 0.35);
  transition: opacity, 0.3s;
  margin-bottom: 2px;
}
.st-metabox-nav li.ui-tabs-active a {
  border: 1px solid #CCC;
  border-right: 1px solid #FFF;
  border-radius: 3px 0 0 3px;
  font-weight: bold;
  background-color: #fff;
  opacity: 1;
}
.st-metabox-tabs-content {
  width: auto !important;
  min-height: 200px;
  margin-left: 158px;
  float: none !important;
  border: 1px solid #ccc;
}
.st-metabox-tabs-content .form-label {
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 15px;
  border-bottom: none;
  margin-bottom: 10px;
}
.st-metabox-tabs-content .form-control {
  height: 30px;
  padding: 4px 8px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.st-metabox-tabs-content .form-control .form-label {
  padding-bottom: 10px;
  padding-top: 5px;
}
.st-metabox-tabs-content .form-control .form-group .form-control {
  height: 30px;
  padding: 4px 8px;
  font-size: 14px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.st-metabox-tabs-content .form-control .form-group .form-control[type=text],
.st-metabox-tabs-content .form-control .form-group .form-control[type=password],
.st-metabox-tabs-content .form-control .form-group .form-control[type=number],
.st-metabox-tabs-content .form-control .form-group .form-controlselect {
  width: 320px;
}
.st-metabox-tabs-content textarea.form-control {
  min-height: 300px !important;
}
.st-metabox-tabs-content .st-metabox-content-wrapper .st-metabox-content-right {
  font-style: italic;
}
.st-metabox-tabs-content .st-metabox-content-wrapper .form-group {
  width: 100%;
}
@media (min-width: 1600px) {
  .st-metabox-tabs-content .st-metabox-content-wrapper .form-group {
    width: 60%;
  }
}
.postbox .hndle > span {
  display: block;
  line-height: 24px;
}
.postbox .hndle > span label {
  margin-left: 15px;
}
.ui-tabs-vertical .ui-tabs-nav {
  padding: .2em .1em .2em .2em;
  float: left;
  width: 12em;
}
.ui-tabs-vertical .ui-tabs-nav li {
  clear: left;
  width: 100%;
  border-bottom-width: 1px !important;
  border-right-width: 0 !important;
  margin: 0 -1px 0.2em 0;
}
.ui-tabs-vertical .ui-tabs-nav li a {
  display: block;
}
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
  padding-bottom: 0;
  padding-right: .1em;
  border-right-width: 1px;
}
.ui-tabs-vertical .ui-tabs-panel {
  padding: 1em;
  float: right;
  width: 40em;
}
.ui-tabs-vertical .ui-tabs-nav li a:focus {
  box-shadow: none;
}
@media (max-width: 1023px) {
  .st-metabox-nav .ui-tabs-active a {
    border-color: #CCC !important;
    border-bottom: 1px solid #FFF !important;
  }
  .st-metabox-tabs-content {
    margin-top: 2px;
    padding: 15px;
    width: auto !important;
    margin-left: 0;
    float: none !important;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media (max-width: 1023px) {
  .st-metabox-content-left {
    width: 100%;
    float: none;
  }
  .st-metabox-content-right {
    width: 100%;
    margin: 10px 0;
    border-top: 1px dotted #CCC;
    padding-right: 0;
  }
}
.st-metabox-tab-content-wrap {
  display: table;
  width: 100%;
}
.st-metabox-wrapper {
  position: relative;
  min-height: 100px;
}
.st-metabox-wrapper .overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FFF;
}
.st-metabox-wrapper .spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
}
.st-metabox-tab-content-wrap * {
  box-sizing: border-box;
}
.st-metabox-tab-content-wrap .form-table {
  margin-bottom: 20px;
  margin-left: -15px;
  margin-right: -15px;
}
.st-metabox-tab-content-wrap .form-table .st-metabox-left {
  font-weight: bold;
  width: 200px;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
.st-metabox-tab-content-wrap .form-table .st-metabox-right {
  padding-left: 15px;
  padding-right: 15px;
  width: auto;
  margin-left: 200px;
}
@media (max-width: 1399px) {
  .st-metabox-tab-content-wrap .form-table .st-metabox-left {
    width: 100%;
    float: none;
  }
  .st-metabox-tab-content-wrap .form-table .st-metabox-right {
    width: 100%;
    margin-left: auto;
    margin-top: 20px;
  }
}
.st-metabox-tab-content-wrap .form-table:after,
.st-metabox-tab-content-wrap .form-table:before {
  content: " ";
  display: table;
}
.st-metabox-tab-content-wrap .form-table:after {
  clear: both;
}
.st-metabox-content-wrapper {
  padding-bottom: 20px;
}
.st-metabox-content-wrapper .gmap-container {
  position: relative;
  z-index: 1;
}
.st-metabox-content-wrapper .gmap-container .gmap-content {
  border: 1px dashed #C0C0C0;
  width: 100%;
  min-height: 300px;
}
input.gmap-search {
  display: block;
  position: absolute;
  width: 200px;
  top: 10px;
  left: 100px;
  height: 31px;
  z-index: 9;
  border: 1px solid #CCC;
}
.st-metabox-content-wrapper:after {
  display: table;
  content: " ";
  clear: both;
}
.form-build {
  content: " ";
  display: table;
  clear: both;
}
.form-build td {
  padding: 0px;
}
.form-build .head-control-left {
  float: left;
  font-size: 18px;
  font-weight: bold;
  width: 60%;
}
.form-build .head-control-right {
  float: left;
  margin-left: 20px;
  width: 35%;
  padding-bottom: 10px;
}
.form-build .control-left {
  float: left;
  width: 60%;
}
.form-build .control-left textarea {
  min-height: 200px;
  width: 100%;
}
.form-build .control-right {
  background: #ddd none repeat scroll 0 0;
  margin-left: 20px;
  padding: 20px 5px 20px 15px;
  width: 35%;
  float: left;
}
.form-build .form-field {
  padding-bottom: 15px;
}
.traveler-list-item-wrapper {
  width: 100%;
}
@media (min-width: 1600px) {
  .traveler-list-item-wrapper {
    width: 60%;
  }
}
.traveler-list-item-wrapper table {
  width: 100%;
}
.traveler-list-item-wrapper .list-item-head {
  width: 100%;
  position: relative;
  clear: both;
  background: #cccccc none repeat scroll 0% 0%;
  display: table-caption;
  padding: 5px;
  margin-bottom: -2px;
  min-height: 30px;
}
.traveler-list-item-wrapper .list-item-head .dashicons {
  float: left;
  margin-top: 6px;
}
.traveler-list-item-wrapper .list-item-head .item-title {
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  line-height: 40px;
  padding-left: 35px;
  z-index: 8;
  font-weight: bold;
  color: #000;
}
.traveler-list-item-wrapper .list-item-head .button-control {
  position: relative;
  z-index: 9;
  float: right;
  margin-top: 2px;
}
.traveler-list-item-wrapper .hidden {
  display: none !important;
}
.traveler-list-item-wrapper .traveler-list-item {
  box-shadow: 0px 0px 0px 1px #aeaaaa;
  margin-bottom: 5px;
}
.traveler-list-item-wrapper .traveler-list-item .td-left .title {
  width: 200px;
}
.traveler-list-item-wrapper .traveler-add-item {
  margin-top: 20px;
}
.traveler-calendar-wrapper {
  margin-top: 20px;
}
.traveler-calendar-wrapper .traveler-calendar-content {
  position: relative;
  width: 100%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 1;
}
.traveler-calendar-wrapper .traveler-calendar-sidebar {
  width: 100%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
.traveler-calendar-wrapper .traveler-calendar-sidebar .form-container {
  padding: 7px;
  border: 1px solid #CCC;
}
.traveler-calendar-wrapper .traveler-calendar-sidebar .form-container .calendar-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 15px;
}
.traveler-calendar-wrapper .traveler-calendar-sidebar .form-container .calendar-input {
  width: 100%;
}
.traveler-calendar-wrapper .traveler-calendar-sidebar #form-bulk-edit {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.7) none repeat scroll 0% 0%;
  display: none;
}
.traveler-calendar-wrapper .traveler-calendar-sidebar #form-bulk-edit .form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  background: #ffffff none repeat scroll 0% 0%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  border: 1px solid #242323;
  padding: 15px;
  max-width: 90%;
  width: 950px;
}
.traveler-calendar-wrapper .traveler-calendar-sidebar #form-bulk-edit .form-container h4,
.traveler-calendar-wrapper .traveler-calendar-sidebar #form-bulk-edit .form-container h3 {
  margin: 0;
  padding: 0;
}
.traveler-calendar-wrapper .traveler-calendar-sidebar #form-bulk-edit .form-container .form-title {
  padding-bottom: 15px;
  border-bottom: 1px solid #CCC;
}
.traveler-calendar-wrapper .traveler-calendar-sidebar #form-bulk-edit .form-container .form-footer {
  padding-top: 15px;
  border-top: 1px solid #CCC;
}
.traveler-calendar-wrapper .traveler-calendar-sidebar #form-bulk-edit .form-container .form-content {
  padding-top: 15px;
  padding-bottom: 15px;
}
.traveler-calendar-wrapper .traveler-calendar-sidebar #form-bulk-edit .form-container .form-content .form-group {
  width: auto !important;
  margin-left: 5px;
  margin-right: 5px;
  float: left;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #CCC;
  margin-bottom: 10px;
}
.traveler-calendar-wrapper .traveler-calendar-sidebar #form-bulk-edit .form-container .form-content .form-group label {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}
.traveler-calendar-wrapper .traveler-calendar-sidebar #form-bulk-edit .form-container .form-content .form-group label.block {
  display: block;
  margin-bottom: 5px;
}
@media (max-width: 1040px) {
  #form-bulk-edit .form-container {
    max-height: 480px;
    overflow-y: scroll;
  }
}
.traveler-calendar-wrapper:after,
.traveler-calendar-wrapper:before {
  content: " ";
  display: table;
}
.traveler-calendar-wrapper:after {
  clear: both;
}
@media (min-width: 1400px) {
  .traveler-calendar-wrapper .traveler-calendar-content {
    width: 70%;
  }
  .traveler-calendar-wrapper .traveler-calendar-sidebar {
    width: 30%;
  }
}
.form-message {
  font-style: italic;
}
.form-message.error {
  color: #A81212;
}
.form-message.success {
  color: #1E59DF;
}
.clearfix:after,
.clearfix:before {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: rgba(255, 255, 255, 0.6);
  display: none;
}
.overlay .spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -10px;
  margin-right: -10px;
  z-index: 10;
}
.overlay.open {
  display: block !important;
}
/* -------------------------------------------------- 
  :: Date Picker
  ---------------------------------------------------*/
.ui-datepicker {
  background: #fff;
  border: 1px solid #ccc;
  height: auto;
  margin: 5px auto 0;
  width: 216px;
  z-index: 101 !important;
  border-radius: 2px;
}
.ui-datepicker a {
  text-decoration: none;
}
.ui-datepicker table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
.ui-datepicker .ui-widget-header {
  left: -1px;
  line-height: 30px;
  position: relative;
  top: -1px;
  width: 218px;
  border-radius: 2px 2px 0 0;
}
.ui-datepicker .ui-datepicker-title {
  text-align: center;
}
.ui-datepicker-prev,
.ui-datepicker-next {
  color: #ccc;
  display: inline-block;
  font-family: "option-tree-font";
  font-size: 16px;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  border-radius: 2px 0 0 0;
}
.ui-datepicker-next {
  border-radius: 0 2px 0 0;
}
.ui-datepicker-prev span,
.ui-datepicker-next span {
  display: none;
}
.ui-datepicker-prev:hover,
.ui-datepicker-next:hover {
  color: #fff;
}
.ui-datepicker-prev:before {
  border-right: 1px solid #555;
  content: "<";
  display: block;
  float: left;
  width: 31px;
  height: 30px;
}
.ui-datepicker-prev {
  border-right: 1px solid #333;
  float: left;
}
.ui-datepicker-next:before {
  border-left: 1px solid #555;
  content: ">";
  display: block;
  float: right;
  width: 30px;
  height: 30px;
}
.ui-datepicker-next {
  border-left: 1px solid #333;
  float: right;
  width: 31px;
}
a.ui-datepicker-prev,
a.ui-datepicker-next {
  outline: 0;
}
.ui-datepicker thead {
  background-color: #fafafa;
  border-bottom: 1px solid #ccc;
}
.ui-datepicker th {
  text-transform: uppercase;
  font-size: 9px;
  padding: 5px 0;
  color: #555;
  text-shadow: 1px 0px 0px rgba(255, 255, 255, 0.5);
}
.ui-datepicker tbody td {
  border-right: 1px solid #ccc;
  padding: 0;
}
.ui-datepicker tbody td:last-child {
  border-right: 0px;
}
.ui-datepicker tbody tr {
  border-bottom: 1px solid #ccc;
}
.ui-datepicker tbody tr:last-child {
  border-bottom: 0px;
}
.ui-datepicker td span,
.ui-datepicker td a {
  display: inline-block;
  font-size: 11px;
  text-align: center;
  width: 30px;
  height: 29px;
  line-height: 30px;
  color: #555;
  text-shadow: 1px 0px 0px rgba(255, 255, 255, 0.5);
}
.ui-datepicker-calendar .ui-state-default {
  background-color: #f1f1f1;
}
.ui-datepicker-calendar .ui-state-highlight {
  border-radius: 0px;
  border: none;
  color: #0074a2;
}
.ui-datepicker-calendar .ui-state-hover {
  background: #fff;
}
.ui-datepicker-calendar .ui-state-active {
  background-color: #0074a2;
  color: #fff !important;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
  position: relative;
}
.ui-datepicker-unselectable .ui-state-default {
  background: #fff;
  color: #aaa;
}
.ui-datepicker-calendar td:first-child .ui-state-active {
  margin-left: 0;
  width: 30px;
}
.ui-datepicker-calendar td:last-child .ui-state-active {
  margin-right: 0;
  width: 30px;
}
.ui-datepicker-calendar tr:last-child .ui-state-active {
  height: 30px;
  margin-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  margin: 0;
  padding: 0 .7em;
}
.ui-datepicker .ui-datepicker-buttonpane button {
  background: #f7f7f7;
  border: 1px solid #ccc;
  color: #555;
  cursor: pointer;
  float: right;
  height: auto;
  margin: .7em 0;
  padding: 5px 14px;
  width: auto;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0, 0, 0, 0.08);
}
.ui-datepicker .ui-datepicker-buttonpane button::-moz-focus-inner {
  border-width: 1px 0;
  border-style: solid none;
  border-color: transparent;
  padding: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button:hover,
.ui-datepicker .ui-datepicker-buttonpane button:focus {
  background: #fafafa;
  border-color: #999;
  color: #222;
  outline: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button:focus {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.ui-datepicker .ui-datepicker-buttonpane button:active {
  background: #eee;
  border-color: #999;
  color: #333;
  outline: 0;
  box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5);
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left;
}
.ui-datepicker-calendar + .ui-datepicker-buttonpane {
  border-bottom: 1px solid #ccc;
}
.ui-datepicker-multi-2 {
  width: 432px !important;
}
.ui-datepicker-multi-3 {
  width: 648px !important;
}
.ui-datepicker-multi-4 {
  width: 864px !important;
}
.ui-datepicker-group {
  float: left;
  width: 216px !important;
}
.ui-datepicker-row-break {
  clear: both;
  width: 100%;
  font-size: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
  border-top: 1px solid #ccc !important;
}
/* default color scheme */
.ui-datepicker .ui-widget-header {
  background: #333;
  color: #bbb;
}
.ui-datepicker .ui-widget-header a {
  color: #999;
}
.ui-datepicker-prev,
.ui-datepicker-next:before {
  border-color: #000;
}
.ui-datepicker-next,
.ui-datepicker-prev:before {
  border-color: #444;
}
.ui-datepicker-prev:hover,
.ui-datepicker-next:hover {
  background: #222;
  color: #0074a2 !important;
}
/* light */
.admin-color-light .ui-datepicker .ui-widget-header {
  background: #888;
  color: #fff;
}
.admin-color-light .ui-datepicker .ui-widget-header a {
  color: #ccc;
}
.admin-color-light .ui-datepicker-prev,
.admin-color-light .ui-datepicker-next:before {
  border-color: #3c3c3c;
}
.admin-color-light .ui-datepicker-next,
.admin-color-light .ui-datepicker-prev:before {
  border-color: #999;
}
.admin-color-light .ui-datepicker-prev:hover,
.admin-color-light .ui-datepicker-next:hover {
  background: #777;
  color: #eee !important;
}
/* blue */
.admin-color-blue .ui-datepicker .ui-widget-header {
  background: #52accc;
  color: #fff;
}
.admin-color-blue .ui-datepicker .ui-widget-header a {
  color: #e2f8ff;
}
.admin-color-blue .ui-datepicker-prev,
.admin-color-blue .ui-datepicker-next:before {
  border-color: #002b39;
}
.admin-color-blue .ui-datepicker-next,
.admin-color-blue .ui-datepicker-prev:before {
  border-color: #5dc2e6;
}
.admin-color-blue .ui-datepicker-prev:hover,
.admin-color-blue .ui-datepicker-next:hover {
  background: #006484;
  color: #fff !important;
}
/* coffee */
.admin-color-coffee .ui-datepicker .ui-widget-header {
  background: #59524c;
  color: #c7cbc9;
}
.admin-color-coffee .ui-datepicker .ui-widget-header a {
  color: #f3f2f1;
}
.admin-color-coffee .ui-datepicker-prev,
.admin-color-coffee .ui-datepicker-next:before {
  border-color: #0f0e0d;
}
.admin-color-coffee .ui-datepicker-next,
.admin-color-coffee .ui-datepicker-prev:before {
  border-color: #675f58;
}
.admin-color-coffee .ui-datepicker-prev:hover,
.admin-color-coffee .ui-datepicker-next:hover {
  background: #cca588;
  color: #fff !important;
}
/* ectoplasm */
.admin-color-ectoplasm .ui-datepicker .ui-widget-header {
  background: #523f6d;
  color: #c6c6d3;
}
.admin-color-ectoplasm .ui-datepicker .ui-widget-header a {
  color: #f3f2f1;
}
.admin-color-ectoplasm .ui-datepicker-prev,
.admin-color-ectoplasm .ui-datepicker-next:before {
  border-color: #181220;
}
.admin-color-ectoplasm .ui-datepicker-next,
.admin-color-ectoplasm .ui-datepicker-prev:before {
  border-color: #644d85;
}
.admin-color-ectoplasm .ui-datepicker-prev:hover,
.admin-color-ectoplasm .ui-datepicker-next:hover {
  background: #a3b542;
  color: #fff !important;
}
/* midnight */
.admin-color-midnight .ui-datepicker .ui-widget-header {
  background: #363b3f;
  color: #f1f2f3;
}
.admin-color-midnight .ui-datepicker .ui-widget-header a {
  color: #f1f2f3;
}
.admin-color-midnight .ui-datepicker-prev,
.admin-color-midnight .ui-datepicker-next:before {
  border-color: #090a0b;
}
.admin-color-midnight .ui-datepicker-next,
.admin-color-midnight .ui-datepicker-prev:before {
  border-color: #4c5359;
}
.admin-color-midnight .ui-datepicker-prev:hover,
.admin-color-midnight .ui-datepicker-next:hover {
  background: #ed543f;
  color: #fff !important;
}
/* ocean */
.admin-color-ocean .ui-datepicker .ui-widget-header {
  background: #738e96;
  color: #f1fcff;
}
.admin-color-ocean .ui-datepicker .ui-widget-header a {
  color: #f1fcff;
}
.admin-color-ocean .ui-datepicker-prev,
.admin-color-ocean .ui-datepicker-next:before {
  border-color: #39464a;
}
.admin-color-ocean .ui-datepicker-next,
.admin-color-ocean .ui-datepicker-prev:before {
  border-color: #87a6af;
}
.admin-color-ocean .ui-datepicker-prev:hover,
.admin-color-ocean .ui-datepicker-next:hover {
  background: #9ab8a0;
  color: #fff !important;
}
/* sunrise */
.admin-color-sunrise .ui-datepicker .ui-widget-header {
  background: #da4f41;
  color: #fff;
}
.admin-color-sunrise .ui-datepicker .ui-widget-header a {
  color: #f3f1f1;
}
.admin-color-sunrise .ui-datepicker-prev,
.admin-color-sunrise .ui-datepicker-next:before {
  border-color: #8a322a;
}
.admin-color-sunrise .ui-datepicker-next,
.admin-color-sunrise .ui-datepicker-prev:before {
  border-color: #e75546;
}
.admin-color-sunrise .ui-datepicker-prev:hover,
.admin-color-sunrise .ui-datepicker-next:hover {
  background: #e88436;
  color: #fff !important;
}
/* -------------------------------------------------- 
  :: Time Picker
  ---------------------------------------------------*/
.ui-timepicker-div {
  border-top: 1px solid #ccc;
  padding: 0 .4em;
}
.ui-timepicker-div .ui-widget-content {
  border: 1px solid #aaa;
  background: #fff;
  font-weight: normal;
  color: #212121;
}
.ui-timepicker-div .ui-slider {
  position: relative;
  text-align: left;
}
.ui-timepicker-div .ui-slider-horizontal {
  height: .8em;
  bottom: -0.3em;
  position: relative;
  border-radius: 2px;
}
.ui-timepicker-div .ui-slider-horizontal .ui-slider-handle {
  background: #f7f7f7;
  border: 1px solid #ccc;
  color: #555;
  cursor: pointer;
  display: block;
  height: 1.3em;
  margin-left: -0.5em;
  outline: 0;
  position: absolute;
  top: -0.325em;
  width: .8em;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 0 rgba(0, 0, 0, 0.08);
  border-radius: 2px;
}
.ui-timepicker-div .ui-slider-horizontal .ui-slider-handle:hover {
  background: #fafafa;
  border-color: #999;
  color: #222;
}
.ui-timepicker-div .ui-slider-horizontal .ui-slider-handle.ui-state-active {
  background: #eee;
  border-color: #999;
  color: #333;
  outline: none;
}
.ui-datepicker-prev,
.ui-datepicker-next:before {
  border-color: #000;
}
.ui-datepicker-next,
.ui-datepicker-prev:before {
  border-color: #444;
}
.ui-datepicker-prev:hover,
.ui-datepicker-next:hover {
  background: #222;
  color: #0074a2 !important;
}
.ui-timepicker-div dl {
  text-align: left;
}
.ui-timepicker-div dl dt {
  float: left;
  clear: left;
  padding: 0 0 0 5px;
}
.ui-timepicker-div dl dd {
  margin: 0 10px 10px 45%;
}
.ui-timepicker-div td {
  font-size: 90%;
}
.ui-tpicker-grid-label {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}
/* default */
.ui-timepicker-div .ui-slider-horizontal .ui-slider-handle {
  background: #333;
  border-color: #000;
}
.ui-timepicker-div .ui-slider-horizontal .ui-slider-handle:hover,
.ui-timepicker-div .ui-slider-horizontal .ui-slider-handle.ui-state-active {
  background: #444;
  border-color: #111;
}
/* light */
.admin-color-light .ui-timepicker-div .ui-slider-horizontal .ui-slider-handle {
  background: #888;
  border-color: #3c3c3c;
}
.admin-color-light .ui-timepicker-div .ui-slider-horizontal .ui-slider-handle:hover,
.admin-color-light .ui-timepicker-div .ui-slider-horizontal .ui-slider-handle.ui-state-active {
  background: #999;
  border-color: #777;
}
/* blue */
.admin-color-blue .ui-timepicker-div .ui-slider-horizontal .ui-slider-handle {
  background: #52accc;
  border-color: #002b39;
}
.admin-color-blue .ui-timepicker-div .ui-slider-horizontal .ui-slider-handle:hover,
.admin-color-blue .ui-timepicker-div .ui-slider-horizontal .ui-slider-handle.ui-state-active {
  background: #5dc2e6;
  border-color: #006484;
}
/* coffee */
.admin-color-coffee .ui-timepicker-div .ui-slider-horizontal .ui-slider-handle {
  background: #59524c;
  border-color: #0f0e0d;
}
.admin-color-coffee .ui-timepicker-div .ui-slider-horizontal .ui-slider-handle:hover,
.admin-color-coffee .ui-timepicker-div .ui-slider-horizontal .ui-slider-handle.ui-state-active {
  background: #cca588;
  border-color: #675f58;
}
/* ectoplasm */
.admin-color-ectoplasm .ui-timepicker-div .ui-slider-horizontal .ui-slider-handle {
  background: #523f6d;
  border-color: #181220;
}
.admin-color-ectoplasm .ui-timepicker-div .ui-slider-horizontal .ui-slider-handle:hover,
.admin-color-ectoplasm .ui-timepicker-div .ui-slider-horizontal .ui-slider-handle.ui-state-active {
  background: #a3b542;
  border-color: #644d85;
}
/* midnight */
.admin-color-midnight .ui-timepicker-div .ui-slider-horizontal .ui-slider-handle {
  background: #363b3f;
  border-color: #090a0b;
}
.admin-color-midnight .ui-timepicker-div .ui-slider-horizontal .ui-slider-handle:hover,
.admin-color-midnight .ui-timepicker-div .ui-slider-horizontal .ui-slider-handle.ui-state-active {
  background: #ed543f;
  border-color: #a0382a;
}
/* ocean */
.admin-color-ocean .ui-timepicker-div .ui-slider-horizontal .ui-slider-handle {
  background: #738e96;
  border-color: #39464a;
}
.admin-color-ocean .ui-timepicker-div .ui-slider-horizontal .ui-slider-handle:hover,
.admin-color-ocean .ui-timepicker-div .ui-slider-horizontal .ui-slider-handle.ui-state-active {
  background: #9ab8a0;
  border-color: #5a6c5e;
}
/* sunrise */
.admin-color-sunrise .ui-timepicker-div .ui-slider-horizontal .ui-slider-handle {
  background: #da4f41;
  border-color: #8a322a;
}
.admin-color-sunrise .ui-timepicker-div .ui-slider-horizontal .ui-slider-handle:hover,
.admin-color-sunrise .ui-timepicker-div .ui-slider-horizontal .ui-slider-handle.ui-state-active {
  background: #e88436;
  border-color: #e75546;
}
.traveler-select-loction {
  position: relative;
  z-index: 1;
}
.traveler-select-loction input[name="search"] {
  width: 100% !important;
  display: block;
}
.traveler-select-loction .list-location-wrapper {
  padding: 15px;
  margin-top: 5px;
  border: 1px solid #CCC;
  max-height: 300px;
  overflow-y: scroll;
}
.traveler-list-taxonomies .traveler-list-taxonomy-item {
  width: 25%;
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
}

/*# sourceMappingURL=admin.css.map */