.st-metabox-tab-content-wrap .wpbooking-form-group .st-metabox-left {
  float: right;
}
.st-metabox-tab-content-wrap .wpbooking-form-group .st-metabox-right {
  margin-right: 14%;
  margin-left: 0;
  text-align: right;
}
.st-metabox-tab-content-wrap .wpbooking-form-group .st-metabox-right .st-metabox-content-wrapper {
  margin-right: 0;
}
.st-metabox-tab-content-wrap .wpbooking-form-group .st-metabox-right .st-metabox-content-wrapper .form-group .from-group-col {
  float: right;
  margin-left: 30px;
  margin-right: 0;
}
.st-metabox-tab-content-wrap .wpbooking-form-group .st-metabox-right .st-metabox-content-wrapper .form-group .term-item {
  float: right;
  margin-right: 0;
  margin-left: 30px;
}
.st-metabox-tab-content-wrap .wpbooking-form-group .st-metabox-right .st-metabox-content-wrapper .form-group .term-item label {
  float: right;
}
.st-metabox-tabs-content .st-metabox-content-wrapper .radio_pro {
  float: right;
}
.st-metabox-tabs-content .wpbooking_extra_service_type .extra-item .service_detail,
.st-metabox-tabs-content .wpbooking_extra_service_type .extra-item .require-options,
.st-metabox-tabs-content .wpbooking_extra_service_type .extra-item .max-quantity,
.st-metabox-tabs-content .wpbooking_extra_service_type .extra-item .money-number {
  float: right !important;
}
.st-metabox-tabs-content .desc_section_metabox {
  left: 40px;
  right: auto;
}
.wpbooking-calendar-wrapper .wpbooking-calendar-sidebar {
  float: right;
}
.wpbooking-calendar-wrapper .wpbooking-calendar-sidebar .form-container .calendar-input-icon > .fa {
  right: auto;
  left: 0;
}
.wpbooking-btn-close {
  float: left;
}
.wpbooking-hotel-room-form {
  position: relative;
}
.wpbooking-hotel-room-form .sticky-wrapper {
  position: static;
}
.wpbooking-hotel-room-form .wb-back-all-rooms-wrap {
  position: static !important;
}
.wpbooking-hotel-room-form .wb-back-all-rooms-wrap .wb-back-all-rooms {
  right: auto;
  left: 30px;
}
.st-metabox-tab-content-wrap .hotel_room_list .wb-room-list .room-item {
  float: right !important;
}
#st-metabox-tab-item-inventory_tab * {
  direction: ltr !important;
}
